:root {
    --pink-main: #F4B6D8;
    --purple-soft: #C9B6E4;
    --white-soft: #fff7fb;
    --gray-soft: #EDEDED;
    --rose-accent: #eb71a6;
    --gold-accent: #E6C77A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, var(--white-soft) 0%, var(--purple-soft) 100%);
    color: #555;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 5%;
    background: linear-gradient(135deg, var(--white-soft) 0%, var(--purple-soft) 100%);
    border-bottom: 1px solid var(--rose-accent);
    /* border-radius: 0 0 20px 20px; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar .navbar-logo img {
    height: 50px;
}

.navbar .navbar-nav a {
    color: var(--rose-accent);
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 1rem;
    position: relative;
}

.navbar .navbar-nav a:hover,
.navbar .navbar-nav a.active {
    color: var(--rose-accent);
    font-weight: 600;
}

.navbar .navbar-nav a::after,
.navbar .navbar-nav a.active::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--rose-accent);
    transform: scaleX(0);
    transition: 0.3s ease-in-out;
}

.navbar .navbar-nav a:hover::after,
.navbar .navbar-nav a.active::after {
    transform: scaleX(.5);
}

.navbar .navbar-extra a {
    color: var(--rose-accent);
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--rose-accent);
    font-weight: 600;
}

#hamburger-menu {
    display: none;
}

/* Search Form */
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 2%;
    background-color: #fff;
    width: 35rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    border-radius: 0 0 20px 20px;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s ease-in-out;
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    color: #333;
    padding: 1rem;
    border-radius: 0 0 20px 20px;
}

.navbar .search-form label {
    cursor: pointer;
    font-size: 1.8rem;
    margin-right: 1.4rem;
    color: #555;
}

/* Shopping Cart */
#shopping-cart {
    position: relative;
}

#shopping-cart .quantity-badge {
    display: inline-block;
    padding: 1px 5px;
    background-color: var(--gold-accent);
    border-radius: 7px;
    font-size: 0.8rem;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: -10px;
}

.shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    background: linear-gradient(135deg, var(--white-soft) 0%, var(--purple-soft) 100%);
    width: 30rem;
    height: 100vh;
    transition: 0.3s ease-in-out;
}

.shopping-cart.active {
    right: 0;
}

.shopping-cart .cart-item {
    margin: 1rem 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed var(--rose-accent);
}

.shopping-cart .cart-item img {
    height: 4rem;
    width: 4rem;
    border-radius: 30%;
}

.shopping-cart h3 {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
    font-size: 0.8rem;
}

.shopping-cart .remove-item {
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    right: 2rem;
    cursor: pointer;
}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
    display: inline-block;
    padding: 2px 5px;
    cursor: pointer;
    margin: 0.8px;
    background-color: var(--rose-accent);
    color: var(--white-soft);
    border-radius: 50%;
    font-weight: bold;
    font-size: .8rem;
}

.shopping-cart .show-total {
    font-size: 1rem;
    margin-top: 0rem;
    text-align: center;
}

.shopping-cart .empty-cart-title {
    font-size: 1.5rem;
    margin-top: 3rem;
    text-align: center;
}

.shopping-cart .empty-cart {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.shopping-cart .btn-submit {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3rem;
    padding: .6rem 3rem;
    font-size: .8rem;
    color: var(--white-soft);
    background-color: var(--rose-accent);
    border-radius: 0.7rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25)), url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 33%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(255, 247, 251, 1) 15%, rgba(1, 1, 3, 0) 55%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60 rem;
}

.hero .content h1 {
    font-family: 'Pacifico', cursive;
    font-size: 5em;
    color: var(--white-soft);
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--rose-accent);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color: var(--white-soft);
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .btn-hero,
.about .row .btn-about,
.product-section .btn-product {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 2.5rem;
    font-size: 1.4rem;
    color: var(--white-soft);
    background-color: var(--rose-accent);
    border-radius: 0.7rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */
.about {
    background: linear-gradient(to bottom,
            var(--white-soft) 0%,
            rgba(255, 255, 255, 0) 100%);

}

.about,
.product-section,
.contact,
.payment {
    padding: 8rem 5% 1.4rem;

}

.about h2,
.product-section h2,
.contact h2,
.payment h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span,
.product-section h2 span,
.contact h2 span,
.payment h2 span,
.payment h3 span {
    color: var(--rose-accent);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6;
}

.about .row .btn-about {
    margin-top: 1rem;
}

/* product section */
.product-section .list-cp {
    margin: 1rem 5rem;
}

.product-section .list-cp h4 {
    font-size: 1.4rem;
}

.product-section .list-cp a {
    background-color: var(--white-soft);
    border-color: #000;
    border-radius: 10px;
    gap: 5px;
    color: var(--rose-accent);
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    padding: .3rem .8rem;
    box-shadow: 1px 1px 1px rgba(1, 1, 3, 0.5);
}

.product-section .list-cp a:hover {
    color: #555;
}

.product-section .list-cp a.active {
    color: #555;
    font-weight: 600;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
    gap: 20px 30px;
    justify-content: center;
}

.product-section .product-card {
    width: 100%;
    background: var(--white-soft);
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.8);
    border-radius: 10px;
    overflow: hidden;
}

.product-section .product-card .product-image {
    position: relative;
    overflow: hidden;
}

.product-section .product-card .product-image img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    transition: 0.3 ease;
}

.product-section .product-card .product-image .product-hover {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s ease;
}

.product-section .product-card .product-image .product-hover .icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 40%;
    background: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.product-section .product-card .product-image .product-hover .icon-btn:hover {
    background: #fff;
    color: #000;
}

.product-section .product-card .product-image:hover img {
    transform: scale(1.05);
    filter: brightness(70%);
}

.product-section .product-card .product-image:hover .product-hover {
    opacity: 1;
}

/* Info */
.product-info {
    padding: .8rem 0.5rem;
    text-align: center;
}

.category {
    font-size: .8rem;
    display: flex;
    justify-content: left;
    margin-left: 1rem;
    font-style: italic;
    color: #c97a5a;
    margin-bottom: 1px;
}

.name {
    display: flex;
    justify-content: left;
    margin-left: 1rem;
    font-size: 22px;
    margin-bottom: 8px;
}

.price {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    font-size: 16px;
    color: var(--rose-accent);
}

.product-section .btn-product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    padding: 1.2rem 4rem;
    cursor: pointer;
}

/* Modal Product */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: var(--white-soft);
    width: 100%;
    max-width: 800px;
    border-radius: 12px;
    padding: 1.5rem;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.modal-body img {
    width: 100%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.modal-info .desc {
    display: flex;
    justify-content: left;
    margin-left: 1rem;
    font-size: 1rem;
    margin-bottom: 8px
}

.modal-info .price {
    font-weight: 600;
}

.modal-info .label-note {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: .7rem;
}

.modal-body button {
    display: flex;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: var(--rose-accent);
    font-size: 1rem;
    color: var(--white-soft);
    border-radius: 10px;
    cursor: pointer;
}


/* Contact Section */
.contact h2 {
    margin-bottom: 1rem;
}

.contact p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 300;
    line-height: 1.5;
}

.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 20px;
}

.contact .row .map {
    flex: 1 1 35rem;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.contact .row form {
    flex: 1 1 35rem;
    padding: 3rem 2rem;
    text-align: center;
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--gray-soft);
    border: 1px solid var(--white-soft);
    padding-left: 2rem;
    border-radius: 10px;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    background: none;
}

.contact .row form button {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: var(--white-soft);
    background-color: var(--rose-accent);
    border-radius: 10px;
    cursor: pointer;
}

/* Payment */
.payment-container {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

/* Content */
.payment-left,
.payment-right {
    display: flex;
    flex-direction: column;
    gap: .1rem;
    flex: 1;
}

.payment-container h3 {
    display: flex;
    font-size: 2rem;

    width: 100%;
    max-width: 600px;
    margin: 1rem auto;
}

.payment-left h3 span,
.payment-right h3 span {
    margin-left: 0.3rem;
}

/*  Payment Item */
.payment-table {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;
    max-width: 600px;
    margin: 1rem auto;

    padding: 1rem;
    background: var(--white-soft);
    border-radius: 10px;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
}

.payment-table img {
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    flex-shrink: 0;

    border-radius: 30%;
    object-fit: cover;

    /* skeleton loader */
    background: linear-gradient(120deg,
            #e5e5e5 30%,
            #f0f0f0 38%,
            #f0f0f0 40%,
            #e5e5e5 48%);
    background-size: 200% 100%;
    animation: load89234 2s infinite;
}

/* Payment Info */
.payment-info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    flex: 1;
}

.category-item {
    font-size: .8rem;
    font-style: italic;
    color: #c97a5a;
    margin-bottom: 1px;
}

.name-item {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1px;
}

.payment-info .meta,
.payment-info .meta-total {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.payment-info .label {
    color: #777;
}

.payment-info .total {
    font-weight: 600;
}

.payment .meta-info {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    width: 100%;
    max-width: 600px;
    margin: 1rem auto;

    padding: 1rem;
    background: var(--white-soft);
    border-radius: 10px;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
}

.payment .meta-info-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1rem;
    font-weight: 600;
}

.payment .meta-info-detail .label-note,
.modal-info .label-note {
    color: var(--rose-accent);
    margin: 0 auto;
}


/* Form Payment */
.payment .form-payment {

    display: flex;
    text-align: center;
    flex-direction: column;
    gap: .6rem;
    width: 100%;
    max-width: 600px;
    margin: 1rem auto;
}

.payment .form-payment .input-group {

    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding-left: 2rem;
    background-color: var(--white-soft);
    border: 1px solid var(--gray-soft);
    border-radius: 5px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
}

.payment .form-payment .input-group input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background: none;
}

.payment .form-payment .input-group textarea {
    width: 100%;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background: none;
    border: none;
    resize: none;
    outline: none;
    overflow: hidden;
    word-break: break-word;
}


.payment .form-payment button {
    width: 15rem;
    display: block;
    margin: 1rem auto 0;
    padding: 1rem 2rem;
    font-size: 1rem;
    text-align: center;
    color: var(--white-soft);
    background-color: var(--rose-accent);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
    background: linear-gradient(135deg, var(--white-soft) 0%, var(--purple-soft) 100%);
    text-align: center;
    padding: 1rem 3rem 3rem;
    margin-top: 3rem;
    border-radius: 20px 20px 0 0;
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a,
footer .links a {
    color: var(--rose-accent);
    margin: .5rem;
}

footer .socials a:hover,
footer .links a:hover {
    color: var(--white-soft);
}

footer .links {
    margin-bottom: .5rem;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit a {
    color: #111;
}

/* Media Queries */
/* Laptop & Tablet Landscape */
@media (max-width: 1024px) {
    html {
        font-size: 75%
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 63%
    }

    #hamburger-menu {
        display: inline-block;
    }

    #shopping-cart .quantity-badge {
        font-size: 1rem;
        right: -10%;
    }

    .shopping-cart .btn-submit {
        padding: .8rem 5rem;
        font-size: 1rem;

    }

    .no-product-cart {
        padding: 5rem 5%;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background: linear-gradient(135deg, var(--white-soft) 0%, var(--purple-soft) 100%);
        width: 25rem;
        height: 100vh;
        transition: 0.3s ease-in-out;
    }

    .navbar .navbar-logo img {
        height: 35px;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }


    .navbar .navbar-nav a {
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.8rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0;
    }

    .navbar .navbar-nav a:hover::after,
    .navbar .navbar-nav a.active::after {
        transform: scaleX(.2)
    }

    .navbar .search-form {
        width: 90%;
        right: 2rem;
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 35rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.5rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }

    .product-section {
        padding: 9rem 2% 1rem;
    }

    .product-section .list-cp {
        margin: 1rem 0;
    }

    .product-section .list-cp a {
        border-radius: 5px;
    }

    .product-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .product-container .product-card .product-info {
        padding: 1rem 3% 1.3rem;
    }

    .product-container .product-card .product-info h3 {
        font-size: 1.5rem;
    }

    .product-container .product-card .product-info span {
        font-size: 1.2rem;
    }

    .modal-body img {
        width: 100%;
        height: 100%;
    }

    .modal-info .price {
        font-size: 100%
    }

    .payment-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .payment-container h3 {
        justify-content: center;
    }

    .payment-table {
        width: 43rem;
    }

    .payment-table img {
        height: 9rem;
        width: 9rem;
    }

    .form-payment .input-group {
        width: 43rem;
        font-size: 1rem;
    }

    .form-payment .input-group i {
        width: 5px;
        height: 5px;
    }


}

/* Mobile */
@media (max-width: 480px) {
    html {
        font-size: 50%
    }

}