:root {
    --pink-main: #F4B6D8;
    --purple-soft: #C9B6E4;
    --white-soft: #fff7fb;
    --gray-soft: #EDEDED;
    --rose-accent: #eb71a6;
    --gold-accent: #E6C77A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, var(--white-soft) 0%, var(--purple-soft) 100%);
    color: #555;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 5%;
    background: linear-gradient(135deg, var(--white-soft) 0%, var(--purple-soft) 100%);
    border-bottom: 1px solid var(--rose-accent);
    /* border-radius: 0 0 20px 20px; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar .navbar-logo img {
    height: 50px;
}

.navbar .navbar-nav a {
    color: var(--rose-accent);
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--purple-soft);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--purple-soft);
    transform: scaleX(0);
    transition: 0.3s ease-in-out;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: var(--rose-accent);
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--purple-soft);
}

#hamburger-menu {
    display: none;
}

/* Search Form */
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 2%;
    background-color: #fff;
    width: 35rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    border-radius: 0 0 20px 20px;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s ease-in-out;
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    color: #333;
    padding: 1rem;
    border-radius: 0 0 20px 20px;
}

.navbar .search-form label {
    cursor: pointer;
    font-size: 1.8rem;
    margin-right: 1.4rem;
    color: #555;
}

/* Shopping Cart */
.shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    background: linear-gradient(135deg, var(--white-soft) 0%, var(--purple-soft) 100%);
    width: 30rem;
    height: 100vh;
    transition: 0.3s ease-in-out;
}

.shopping-cart.active{
    right: 0;
}

.shopping-cart .cart-item {
    margin: 1rem 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed var(--rose-accent);
}

.shopping-cart .cart-item img {
    height: 6rem;
    width: 6rem;
    border-radius: 30%;
}

.shopping-cart h3 {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
    font-size: 0.8rem;
}

.shopping-cart .remove-item {
    position: absolute;
    right: 2rem;
    cursor: pointer;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25)), url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 33%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(255, 247, 251, 1) 15%, rgba(1, 1, 3, 0) 55%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60 rem;
}

.hero .content h1 {
    font-family: 'Pacifico', cursive;
    font-size: 5em;
    color: var(--white-soft);
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--rose-accent);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 400;
    color: var(--white-soft);
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .btn-hero,
.about .row .btn-about {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 2.5rem;
    font-size: 1.4rem;
    color: var(--white-soft);
    background-color: var(--rose-accent);
    border-radius: 0.7rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */
.about {
    background: linear-gradient(to bottom,
            var(--white-soft) 0%,
            rgba(255, 255, 255, 0) 100%);

}

.about,
.product-section,
.contact {
    padding: 8rem 7% 1.4rem;

}

.about h2,
.product-section h2,
.contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span,
.product-section h2 span,
.contact h2 span {
    color: var(--rose-accent);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6;
}

.about .row .btn-about {
    margin-top: 1rem;
}

/* product section */
.product-container {
    display: grid;
    grid-column: auto;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.product-section .product-card {
    width: 100%;
    background: var(--white-soft);
    border-radius: 10px;
    overflow: hidden;
}

.product-section .product-card .product-image {
    position: relative;
    overflow: hidden;
}

.product-section .product-card .product-image img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    transition: 0.3 ease;
}

.product-section .product-card .product-image .product-hover {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.4s ease;
}

.product-section .product-card .product-image .product-hover .icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 40%;
    background: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.product-section .product-card .product-image .product-hover .icon-btn:hover {
    background: #fff;
    color: #000;
}

.product-section .product-card .product-image:hover img {
    transform: scale(1.05);
    filter: brightness(70%);
}

.product-section .product-card .product-image:hover .product-hover {
    opacity: 1;
}

/* Info */
.product-info {
    padding: 20px;
    text-align: center;
}

.category {
    font-style: italic;
    color: #c97a5a;
    margin-bottom: 6px;
}

.name {
    font-size: 22px;
    margin-bottom: 8px;
}

.price {
    font-size: 16px;
    color: #444;
}



/* Contact Section */
.contact h2 {
    margin-bottom: 1rem;
}

.contact p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 300;
    line-height: 1.5;
}

.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 20px;
}

.contact .row .map {
    flex: 1 1 35rem;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.contact .row form {
    flex: 1 1 35rem;
    padding: 3rem 2rem;
    text-align: center;
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--gray-soft);
    border: 1px solid var(--white-soft);
    padding-left: 2rem;
    border-radius: 20px;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    background: none;
}

.contact .row form button {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    color: var(--white-soft);
    background-color: var(--rose-accent);
    border-radius: 10px;
    cursor: pointer;
}

/* Footer */
footer {
    background: linear-gradient(135deg, var(--white-soft) 0%, var(--purple-soft) 100%);
    text-align: center;
    padding: 1rem 3rem 3rem;
    margin-top: 3rem;
    border-radius: 20px 20px 0 0;
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a,
footer .links a {
    color: var(--rose-accent);
    margin: .5rem;
}

footer .socials a:hover,
footer .links a:hover {
    color: var(--white-soft);
}

footer .links {
    margin-bottom: .5rem;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit a {
    color: #111;
}

/* Media Queries */
/* Laptop & Tablet Landscape */
@media (max-width: 1024px) {
    html {
        font-size: 75%
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 63%
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background: linear-gradient(135deg, var(--white-soft) 0%, var(--purple-soft) 100%);
        width: 25rem;
        height: 100vh;
        transition: 0.3s ease-in-out;
    }

    .navbar .navbar-logo img {
        height: 35px;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }


    .navbar .navbar-nav a {
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.8rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(.2)
    }

    .navbar .search-form {
        width: 90%;
        right: 2rem;
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 35rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.5rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }

    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-container .product-card .product-info h3 {
        font-size: 1.5rem;
    }

    .product-container .product-card .product-info span {
        font-size: 1.2rem;
    }
}

/* Mobile */
@media (max-width: 480px) {
    html {
        font-size: 50%
    }

}